In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('data_fii_raw.csv', sep=';', decimal= '.')
df.shape

(353, 8)

In [13]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1.721,"R$ 0,65","0,88%","R$ 1,1 bi","R$ 91,83","-0,60%","0,79"
1,AFCR11,957,"R$ 1,30","1,25%","R$ 154,9 mi","R$ 102,29","1,05%","1,01"
2,AFHI11,28.440,"R$ 1,35","1,36%","R$ 173,8 mi","R$ 97,24","-2,21%","1,10"
3,AFOF11,1.863,"R$ 0,60","1,28%","R$ 70,7 mi","R$ 102,32","-4,13%","0,87"
4,AIEC11,1.639,"R$ 0,72","0,90%","R$ 488,5 mi","R$ 101,24","-3,08%","0,79"

In [14]:
df.dtypes

nome_fii          object
liq diaria        object
ultimo rend       object
yield             object
patrim liquido    object
valor patrim      object
rent mes          object
p/vp              object
dtype: object

In [15]:
df.isnull().sum()  ## pergunta pra base se ela tem elemento nulo

nome_fii           0
liq diaria        30
ultimo rend       20
yield             36
patrim liquido     6
valor patrim       6
rent mes          33
p/vp              30
dtype: int64

In [16]:
df = df.fillna ("0") ## zerar elementos nulo

In [17]:
df.isnull().sum()

nome_fii          0
liq diaria        0
ultimo rend       0
yield             0
patrim liquido    0
valor patrim      0
rent mes          0
p/vp              0
dtype: int64

In [18]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1.721,"R$ 0,65","0,88%","R$ 1,1 bi","R$ 91,83","-0,60%","0,79"
1,AFCR11,957,"R$ 1,30","1,25%","R$ 154,9 mi","R$ 102,29","1,05%","1,01"
2,AFHI11,28.440,"R$ 1,35","1,36%","R$ 173,8 mi","R$ 97,24","-2,21%","1,10"
3,AFOF11,1.863,"R$ 0,60","1,28%","R$ 70,7 mi","R$ 102,32","-4,13%","0,87"
4,AIEC11,1.639,"R$ 0,72","0,90%","R$ 488,5 mi","R$ 101,24","-3,08%","0,79"

In [9]:
df['liq diaria']

0        1.721
1          957
2       28.440
3        1.863
4        1.639
        ...
348     11.246
349    182.572
350        427
351         65
352          0
Name: liq diaria, Length: 353, dtype: object

In [19]:
df['liq diaria'].unique()

array(['1.721', '957', '28.440', '1.863', '1.639', '51', '7.357', '1',
       '432', '38.249', '153', '2.160', '0', '3', '7.188', '156', '3.343',
       '5.361', '12.841', '1.234', '763', '39.138', '2.470', '7.828',
       '24', '7.191', '2', '216', '16', '6.128', '4', '61.122', '5.190',
       '136', '249', '3.436', '175', '12.145', '29.971', '20.300',
       '5.161', '11.350', '32.378', '7.897', '282', '44.041', '24.473',
       '319', '9', '224', '43', '8.002', '73.246', '97', '17.315',
       '1.781', '580', '251', '2.069', '983', '161', '29.303', '2.543',
       '42', '44', '713', '30', '1.891', '4.022', '3.703', '7.984', '107',
       '565', '6', '1.142', '23', '330', '566', '8.552', '14.342',
       '2.984', '971', '990', '200', '1.482', '1.644', '936', '257',
       '5.663', '31', '3.042', '154', '13.628', '2.940', '1.024', '1.366',
       '3.835', '300', '9.731', '54.618', '8.713', '11.316', '18.287',
       '413', '531', '299', '68.871', '18.780', '5.433', '18.540',
       '5.060', '29.107', '4.710', '13.271', '23.532', '1.168', '115',
       '124', '93', '338', '110', '5.512', '3.817', '30.292', '11',
       '1.187', '34', '7.000', '1.847', '1.710', '18', '350', '1.082',
       '46.730', '9.721', '798', '1.077', '2.212', '2.590', '3.135',
       '1.224', '29.301', '2.185', '11.216', '145.026', '15.809',
       '95.444', '25.587', '122.675', '591', '29.311', '42.851', '210',
       '201', '844', '342', '12.034', '13.096', '270', '2.188', '28.483',
       '199.250', '172.404', '189', '4.676', '857', '10.433', '594',
       '1.229', '2.014', '11.380', '453.510', '415', '3.706', '236', '96',
       '1.884', '167', '74', '3.079', '4.519', '2.035', '1.254', '217',
       '2.383', '10.687', '6.928', '1.753', '392', '11.835', '22', '66',
       '18.207', '8.840', '1.568', '27', '1.011', '6.417', '2.072', '225',
       '1.695', '9.213', '5.157', '1.642', '294', '885', '2.501',
       '18.649', '5', '1.992', '16.592', '26.149', '38', '3.939',
       '19.221', '114', '3.854', '10.296', '683', '45.705', '12.467',
       '184', '2.886', '2.122', '491', '8', '2.041', '1.388', '2.266',
       '210.328', '7.078', '29.597', '12.868', '35.747', '37', '15.807',
       '182', '11.740', '7.755', '5.744', '100', '17.843', '6.662',
       '4.357', '104', '13.109', '1.500', '3.967', '19.147', '477',
       '54.119', '13', '27.159', '9.524', '17.369', '46.599', '13.796',
       '1.716', '1.023.478', '88.773', '21.774', '21.069', '20.574',
       '21.569', '29.878', '17.288', '28.727', '203', '25.609', '57',
       '92.223', '601', '10.198', '2.269', '80', '69.373', '25.050',
       '4.588', '10', '8.010', '30.942', '25.409', '11.246', '182.572',
       '427', '65'], dtype=object)

In [20]:
df['liq diaria'].str.replace('.','') ## substituir os pontos por vazio

C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_6780\1877913483.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['liq diaria'].str.replace('.','') ## substituir os pontos por vazio

0        1721
1         957
2       28440
3        1863
4        1639
        ...
348     11246
349    182572
350       427
351        65
352         0
Name: liq diaria, Length: 353, dtype: object

In [33]:
df['liq diaria'].str.replace('.','',regex=False).astype(int) ## substituir os pontos por vazio e tranformar em inteiro

0        1721
1         957
2       28440
3        1863
4        1639
        ...
348     11246
349    182572
350       427
351        65
352         0
Name: liq diaria, Length: 353, dtype: int32

In [27]:
df['liq diaria']

0        1.721
1          957
2       28.440
3        1.863
4        1.639
        ...
348     11.246
349    182.572
350        427
351         65
352          0
Name: liq diaria, Length: 353, dtype: object

In [28]:
df['ultimo rend']

0       R$ 0,65
1       R$ 1,30
2       R$ 1,35
3       R$ 0,60
4       R$ 0,72
         ...
348     R$ 0,45
349     R$ 0,68
350     R$ 0,00
351    R$ 19,41
352     R$ 0,79
Name: ultimo rend, Length: 353, dtype: object

In [36]:
df['ultimo rend'] = df['ultimo rend'].str.replace('R$ ','',regex=False)    ## substituiu caracteres e transformar float
df['ultimo rend'] = df['ultimo rend'].str.replace(',','.',regex=False).astype(float)

AttributeError: Can only use .str accessor with string values!

In [31]:
df['ultimo rend']

0       0.65
1       1.30
2       1.35
3       0.60
4       0.72
       ...
348     0.45
349     0.68
350     0.00
351    19.41
352     0.79
Name: ultimo rend, Length: 353, dtype: float64

In [35]:
df['liq diaria'] = df['liq diaria'].str.replace('.','',regex=False).astype(int) ## substituir os pontos por vazio e tranformar em inteiro

df['ultimo rend'] = df['ultimo rend'].str.replace('R$ ','',regex=False)    ## substituiu caracteres e transformar float
df['ultimo rend'] = df['ultimo rend'].str.replace(',','.',regex=False).astype(float)

AttributeError: Can only use .str accessor with string values!

In [63]:
df['yield'] = df['yield'].str.replace(',','.',regex=False)
df['yield'].str.replace('%','',regex=False).astype(float)/100

0      0.0088
1      0.0125
2      0.0136
3      0.0128
4      0.0090
        ...
348    0.0077
349    0.0093
350    0.0000
351    0.0194
352    0.0000
Name: yield, Length: 353, dtype: float64

In [40]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1721,0.65,0.88%,"R$ 1,1 bi","R$ 91,83","-0,60%","0,79"
1,AFCR11,957,1.30,1.25%,"R$ 154,9 mi","R$ 102,29","1,05%","1,01"
2,AFHI11,28440,1.35,1.36%,"R$ 173,8 mi","R$ 97,24","-2,21%","1,10"
3,AFOF11,1863,0.60,1.28%,"R$ 70,7 mi","R$ 102,32","-4,13%","0,87"
4,AIEC11,1639,0.72,0.90%,"R$ 488,5 mi","R$ 101,24","-3,08%","0,79"

In [47]:
df['patrim liquido'].apply(lambda x: x.split(' ')[-1])

0      bi
1      mi
2      mi
3      mi
4      mi
       ..
348    mi
349    mi
350    mi
351    mi
352    mi
Name: patrim liquido, Length: 353, dtype: object

In [48]:
df[df['patrim liquido'].str.contains('778.257,9')]

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
79,DMAC11,2543,2.96,36.32%,"R$ 778.257,9","R$ 4,99","4,85%","2,61"

In [56]:
def trata_patr_liq(x):
    x = x.replace('R$ ','')
    x = x.replace('.','')
    x = x.replace(',','.')
    x = x.split(' ')
    
    if x[-1] == 'mi':
        x = float(x[0])*10**6
        
    elif x[-1] == 'bi':
        x = float(x[0])*10**9
        

    if type(x) == type(list()):
        x = float(x[0])
        
    return x

trata_patr_liq(x = 'R$ 778.257,9')

778257.9

In [57]:
df['patrim liquido'] = df['patrim liquido'].apply(lambda x: trata_patr_liq(x))

AttributeError: 'float' object has no attribute 'replace'

In [58]:
df['patrim liquido']

0      1.100000e+09
1      1.549000e+08
2      1.738000e+08
3      7.070000e+07
4      4.885000e+08
           ...
348    5.742000e+08
349    3.788000e+08
350    2.730000e+07
351    2.310000e+07
352    4.120000e+07
Name: patrim liquido, Length: 353, dtype: float64

In [59]:
df['valor patrim'] = df['valor patrim'].str.replace('R$ ','',regex=False)
df['valor patrim'] = df['valor patrim'].str.replace('.','',regex=False)
df['valor patrim'] = df['valor patrim'].str.replace(',','.',regex=False).astype(float)

In [60]:
df['rent mes'] = df['rent mes'].str.replace('%','',regex=False)
df['rent mes'] = df['rent mes'].str.replace(',','.',regex=False).astype(float)/100 ## porcentagem dividir por 100

In [61]:
df['p/vp'] = df['p/vp'].str.replace(',','.',regex=False).astype(float)

In [66]:
df['yield'] = df['yield'].str.replace(',','.',regex=False)
df['yield'] = df['yield'].str.replace('%','',regex=False).astype(float)/100

In [67]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1721,0.65,0.0088,1.100000e+09,91.83,-0.0060,0.79
1,AFCR11,957,1.30,0.0125,1.549000e+08,102.29,0.0105,1.01
2,AFHI11,28440,1.35,0.0136,1.738000e+08,97.24,-0.0221,1.10
3,AFOF11,1863,0.60,0.0128,7.070000e+07,102.32,-0.0413,0.87
4,AIEC11,1639,0.72,0.0090,4.885000e+08,101.24,-0.0308,0.79

In [68]:
df.to_csv('data_fii.csv', sep=';', decimal=',', index=False)  ## salvar como csv ideal para abrir no exel e coloca decimal ',' ajuda ao abrir no exel