In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data_fii_raw.csv', sep=';', decimal= '.')
df.shape

(353, 8)

In [3]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1.721,"R$ 0,65","0,88%","R$ 1,1 bi","R$ 91,83","-0,60%","0,79"
1,AFCR11,957,"R$ 1,30","1,25%","R$ 154,9 mi","R$ 102,29","1,05%","1,01"
2,AFHI11,28.440,"R$ 1,35","1,36%","R$ 173,8 mi","R$ 97,24","-2,21%","1,10"
3,AFOF11,1.863,"R$ 0,60","1,28%","R$ 70,7 mi","R$ 102,32","-4,13%","0,87"
4,AIEC11,1.639,"R$ 0,72","0,90%","R$ 488,5 mi","R$ 101,24","-3,08%","0,79"