In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('data_fii_raw.csv', sep=';', decimal='.')
df.shape

(353, 8)

In [3]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1.721,"R$ 0,65","0,88%","R$ 1,1 bi","R$ 91,83","-0,60%","0,79"
1,AFCR11,957,"R$ 1,30","1,25%","R$ 154,9 mi","R$ 102,29","1,05%","1,01"
2,AFHI11,28.440,"R$ 1,35","1,36%","R$ 173,8 mi","R$ 97,24","-2,21%","1,10"
3,AFOF11,1.863,"R$ 0,60","1,28%","R$ 70,7 mi","R$ 102,32","-4,13%","0,87"
4,AIEC11,1.639,"R$ 0,72","0,90%","R$ 488,5 mi","R$ 101,24","-3,08%","0,79"

In [4]:
df.dtypes

nome_fii          object
liq diaria        object
ultimo rend       object
yield             object
patrim liquido    object
valor patrim      object
rent mes          object
p/vp              object
dtype: object

In [5]:
df.isnull().sum()

nome_fii           0
liq diaria        30
ultimo rend       20
yield             36
patrim liquido     6
valor patrim       6
rent mes          33
p/vp              30
dtype: int64

In [6]:
df = df.fillna('0')

In [7]:
df['liq diaria'] = df['liq diaria'].str.replace('.','', regex=False).astype(int)

df['ultimo rend'] = df['ultimo rend'].str.replace('R$ ','', regex=False)
df['ultimo rend'] = df['ultimo rend'].str.replace(',','.', regex=False).astype(float)

df['yield'] = df['yield'].str.replace(',','.', regex=False)
df['yield'] = df['yield'].str.replace('%','', regex=False).astype(float)/100

In [8]:
df['patrim liquido'].apply(lambda x: x.split(' ')[-1]).unique()

array(['bi', 'mi', '0', '778.257,9'], dtype=object)

In [9]:
def trata_patr_liq(x):
    x = x.replace('R$ ','')
    x = x.replace('.','')
    x = x.replace(',','.')
    x = x.split(' ')
    if x[-1] == 'mi':
        x = float(x[0])*10**6
    elif x[-1] == 'bi':
        x = float(x[0])*10**9

    if type(x) == type(list()):
        x = float(x[0])
    return x

trata_patr_liq(x = 'R$ 778.257,9')

778257.9

In [10]:
df['patrim liquido'] = df['patrim liquido'].apply(lambda x: trata_patr_liq(x))

In [11]:
df['valor patrim'] = df['valor patrim'].str.replace('R$ ','',regex=False)
df['valor patrim'] = df['valor patrim'].str.replace('.','',regex=False)
df['valor patrim'] = df['valor patrim'].str.replace(',','.',regex=False).astype(float)

In [12]:
df['rent mes'] = df['rent mes'].str.replace('%','',regex=False)
df['rent mes'] = df['rent mes'].str.replace(',','.',regex=False).astype(float)/100

In [13]:
df['p/vp'] = df['p/vp'].str.replace(',','.',regex=False).astype(float)

In [14]:
df.head()

,nome_fii,liq diaria,ultimo rend,yield,patrim liquido,valor patrim,rent mes,p/vp
0,ABCP11,1721,0.65,0.0088,1.100000e+09,91.83,-0.0060,0.79
1,AFCR11,957,1.30,0.0125,1.549000e+08,102.29,0.0105,1.01
2,AFHI11,28440,1.35,0.0136,1.738000e+08,97.24,-0.0221,1.10
3,AFOF11,1863,0.60,0.0128,7.070000e+07,102.32,-0.0413,0.87
4,AIEC11,1639,0.72,0.0090,4.885000e+08,101.24,-0.0308,0.79

In [15]:
df.to_csv('data_fii.csv', sep=';', decimal=',', index=False)